<div class="row">

  <!-- First Card -->
  <div class="col-md-6">
    <div class="card">
      <img class="card-img-top" src="../../../assets/carrousell1.jpg" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title text-center">Comienza Registrándote</h1>        
        <a href="#" class="btn btn-primary btn-block">Regístrate Ya!</a>
      </div>
    </div>
  </div>
  <!-- End First Card -->

  <!-- Second Card -->
  <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/carrousell1.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title text-center blueTitle">¿Ya estás Registrado?</h1>
           <i><h5 class="text-center">Crea tu primer evento</h5></i>        
          <a href="#" class="btn btn-success btn-block">Crer mi Primer Evento</a>
        </div>
      </div>
  </div>
  <!-- End Second Card -->

</div>