<nav class="navegacion navbar">

  <ul class="menu">
    <!-- Item -->
    <li class="first-item">      

      </li>
      <!-- Fin Item -->

      <!-- Item -->
    <li class="first-item">      
      <a href="#">
        <img src="../../../assets/home.jpg" class="imagen" alt="">
        <span class="text-item"> Inicio </span>
        <div class="down-item"></div>
      </a>
    </li>
    <!-- Fin Item -->

    <!-- Item -->
    <li class="first-item">
      <a href="#">
        <img src="../../../assets/users.jpg" class="imagen" alt="">
        <span class="text-item">Usuarios</span>
        <div class="down-item"></div>
      </a>
    </li>
    <!-- Fin Item -->

    <!-- Item -->
    <li class="first-item">
      <a href="#">
        <img src="../../../assets/calendar.jpg" class="imagen" alt="">
        <span class="text-item">Eventos</span>
        <div class="down-item"></div>
      </a>
    </li>
    <!-- Fin Item -->

    <!-- Item -->
    <li class="first-item nav-item">
      <a class="nav-link disabled" href="#">
        <img src="../../../assets/info.jpg" class="imagen" alt="">
        <span class="text-item">Información</span>
        <div class="down-item"></div>
      </a>
    </li>
    <!-- Fin Item -->

    <!-- Item -->
    <li class="first-item nav-item">      
    </li>
    <!-- Fin Item -->
  </ul>

  
</nav>